$header-color: #660000;
$link-color: #aa0000;
$text-color: #000000;
$back-color: #fff4ee;
$interact-color: #ffe3dd;
$side-back-color: #eee3dd;
$verbatim-back-color: #ffffff;

body {
    display: grid;
    background-color: $back-color;
    color: $text-color;
    grid-template-areas:
        'title navbar'
        'title content'
        'menu content'
        'footer content'
    ;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto 1fr auto;
    padding: 0px;
    margin: 0px;
    height:100vh;
    font-family: sans-serif;
}

canvas {
    display:block;
    margin: auto;
    border: 2px solid $text-color;
}

details {
    background-color: $side-back-color;
    width: fit-content;
    border: 2px solid $text-color;
    padding: 5px;
    margin: 5px;
}

summary {
    background-color: $interact-color;
    padding: 5px;
    margin: -5px;
}

details[open] summary {
    margin-bottom: 10px;
}

table {
    display: block;
    width: fit-content;
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 2px solid $header-color;
}

th {
    background-color: $header-color;
    color: $back-color;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}

tr:nth-child(even) {
    background-color: $side-back-color;
}

hr {
    background-color: $header-color;
    border: 0;
    height: 2px;
    margin: 0 0 20px;
}

code, pre {
    color: $text-color;
    background-color: $verbatim-back-color;
}

code {
    padding-right: 5px;
    padding-left: 5px;
}
  
pre {
    display: block;
    width: auto;
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 15px;
    width: auto;
}
  
pre code {
   background-color: inherit;
   border-radius: 0px;
   padding-right: 0px;
   padding-left: 0px;
}
  
blockquote {
    background-color: $side-back-color;
    border-left: 5px solid $text-color;
    padding: 1px 0 1px 20px;
    font-style: italic;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover, summary:hover {
    text-decoration: underline;
}

ul, ol {
    list-style-position: inside;
    padding-left: 0px;
}

li ul, li ol {
    padding-left: 20px;
}

h1,h2,h3,h4,h5,h6 {
    color: $header-color;
}

.title {
    grid-area: title;
    background-color: $header-color;
    color: $side-back-color;
    text-align: center;
    padding: 5px;
    z-index:1;
}

.title a {
    color: $interact-color;
}

.sidebar {
    grid-area: menu;
    background-color: $side-back-color;
    color: $text-color;
    text-align: left;
    padding: 10px;
    overflow-y:auto;
}

.footer {
    grid-area: footer;
    background-color: $side-back-color;
    text-align: center;
}

.footer p {
    margin: 0px;
    padding: 10px;
}

.footer img {
    padding: 10px;
    height: 100px;
}

.footer_notice {
    background-color: $header-color;
    color: $side-back-color;
}

.content {
    grid-area: content;
    padding: 10px;
    overflow-y: auto;
}

.posttree ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.posttree ul ul {
    padding-left: 20px;
}


.posttree details {
    background-color: $back-color;
    width: auto;
    padding: 0px;
}

.posttree details summary {
    margin: 0px;
}

.navbar {
    grid-area: navbar;
    display: block;
    background-color: $link-color;
    width: fit-content;
    font-weight: bold;
    transform: skew(-45deg);
    z-index: 0;
    margin-left: -15px;
    padding-left: 15px;
}

.navbar a {
    display:block;
    transform: skew(45deg);
}

.navbox {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.navbox:nth-of-type(odd) {
    background-color: transparent;
}

.navbox:nth-of-type(odd) a {
    color: $interact-color;
}

.navbox:nth-of-type(even) {
    background-color: $interact-color;
}

.navbox:nth-of-type(even) a {
    color: $link-color;
}